body {
    padding-right: 10%;
    padding-left: 10%;
    width: 80%;
}

nav ul {
    list-style: none;
    font-size: 1rem;
    padding-inline-start: 0;
    padding-bottom: 1rem;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding-right: 2rem;
    padding-top: 1rem;
    text-decoration: none;
}

nav ul li:not(:first-child) {
    margin-top: 0;
}

nav ul li a:hover {
    background-color: #eeeeec;
}

section > p, section > footer, section > table {
    width: 80%;
}

/* 50 + 5 == 55, to be the same width as paragraph */

section > ol, section > ul {
    width: 75%;
    -webkit-padding-start: 5%;
}

section > footer, section > p, section > table {
    width: 100%
}