body {
    padding: 2% 10%;
}

aside {
    width: 10rem;
    float: left;
}

main {
    margin-left: 10rem;
}

nav ul {
    list-style: none;
    font-size: 1rem;
    padding-bottom: 1rem;
}

nav ul li {
    width: 6rem;
    height: 3rem;
}

nav ul li a {
    padding-top: 1rem;
    text-decoration: none;
    padding-bottom: 1rem;
    background-repeat: no-repeat;
    word-wrap: break-word;
}

nav ul li a:hover {
    font-weight: bolder;
}


section > ol, section > ul {
    width: 75%;
    -webkit-padding-start: 5%;
}

a {
    color: #1240da;
}

a:visited {
    color: #5f61b8;
}

pre {
    padding: 1rem;
}

footer {
    padding-top: 2rem;
    text-align: right;
}



