{{ partial "header.html" . }}
<main>
    <section>
        {{ $paginator := .Paginate (.Site.RegularPages.Reverse) 1 }}

        {{ range $paginator.Pages }}
        <p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </p>
        <br>
        {{ .Content }}
        <br>
        <p>
            <small>Published on <time>{{ .Date.Format "Jan 2, 2006" }}</time></small>
        </p>
        <hr>
        {{ end }}
    </section>
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">Prev</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">Next</a>
    {{ end }}

</main>
{{ partial "footer.html" . }}
